<style>
	/*
	Workaround for a weird iOS text rendering issue -- https://stackoverflow.com/q/65849072
	*/
	@media screen and (max-device-width: 480px) {
		body {
			-webkit-text-size-adjust: none;
		}
	}

  * {
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration-skip: ink;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 160%;
    color: #1d1313;
    max-width: 700px;
    margin: auto;
  }

  p {
    margin: 20px 0;
  }

  a img {
    border: none;
  }

  img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
	height: auto;
  }

  .left-justify { float: left; }
  .right-justify { float:right; }

  pre, code {
    font: 12px "JetBrains Mono", monospace;
    background-color: #D9D9D9;
  }

  code {
    font-size: 12px;
    padding: 4px;
	border-radius: 6px;
  }

  pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
	border: 1px solid #ddd;
    border-radius: 6px
  }

  pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  pre code::before,
  pre code::after {
    content: normal;
  }

  em,q,em,dfn {
    font-style: italic;
  }

  .sans,html .gist .gist-file .gist-meta {
    font-family: 'Roboto', sans-serif;
  }

  .mono,pre,code,tt,p code,li code {
    font-family: 'JetBrains Mono', monospace;
  }

  .heading,.serif,h1,h2,h3 {
    font-family: 'Playfair Display', serif;
	font-weight: 600;
  }

  strong {
    font-weight: 700;
  }

  q:before {
    content: "\201C";
  }

  q:after {
    content: "\201D";
  }

  del,s {
    text-decoration: line-through;
  }

  blockquote {
    background-color: #FFFFFF;
    color: #666666;
    border-left: 06px solid #eeeeee;
    padding-left: 15px;
    font-size: 15px !important;
    font-style: italic;
  }
  
  blockquote > :last-child {
    margin-bottom: 0;
  }
  blockquote i, blockquote em {
    font-style: normal;
  }
  
  /* alerts */
	.alert {
		padding: 12px 20px 12px 20px;
		color: white;
		border-radius: .6rem;
		margin: 0;
	}

	.alert-info     { background-color: #2196F3; }
	.alert-warning  { background-color: #ff9800; }
	.alert-success  { background-color: #04AA6D; }
	.alert-danger   { background-color: #f44336; }
	.alert-dark     { background-color: #555555; }
	.alert-outline  {
		border: 3px solid #333;
		color: black;
	}
  
  hr {
    width: 40%;
    height: 1px;
    background:#403c3b;
    margin: 25px auto;
  }

  h1 {
    font-size: 35px;
	line-height: 120%;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
    margin-top: 18px;
  }

  h1 a,h2 a,h3 a {
    text-decoration: none;
  }

  h1,h2 {
    margin-top: 28px;
  }

  #sub-header, .date {
    color: #403c3b;
    font-size: 13px;
  }

  #sub-header {
    margin: 10px 0px;
  }

  #nav h1 a {
    font-size: 35px;
    color: #1d1313;
    line-height: 120%;
  }

  .posts_listing a,#nav a {
    text-decoration: none;
  }

  ol {
    counter-reset: listitem;
	list-style:none;
  }

  ol>li {
    position: relative;
    padding-left: 1.75rem;
  }

  ol>li:before {
    position: absolute;
    left: 0;
    top: .125rem;
    box-sizing: content-box;
    height: .75rem;
    width: 1.25rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(230 228 226);
    padding: .25rem 0;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(71 70 69);
    counter-increment: listitem;
    content: counter(listitem);
  }

  li {
    margin-left: 0px;
	margin-top: .375rem;
  }
  
  ol>li:first-child, ul>li:first-child {
    margin-top: 0;
  }
  
  ul>li {
    margin-left: 17px;
	position: relative;
    padding-left: 0rem;
  }

  ul li p {
    margin-top: .75rem
  }

  ul>li:before {
    position: absolute;
    top: .625rem;
    left: -0.8rem;
    height: .375rem;
    width: .375rem;
    border-radius: 9999px;
    background-color: currentColor;
    opacity: .4;
    content: ""
  }

  ul li {
    list-style-type: none;
  }
    
  #nav ul>li:before, .posts_listing li:before {
    opacity: 0;
  }

/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 8px 8px 0px;
    text-align: left;
    border-bottom: 1.5px solid #ddd;
}

  #content {
    text-align: left;
    width: 100%;
    font-size: 15px;
    padding: 60px 0 80px;
  }

  #content h1,#content h2 {
    margin-bottom: 5px;
  }

  #content h2 {
    font-size: 25px;
	font-weight: 600;
  }

  #content .entry-content {
    margin-top: 15px;
  }

  #content .date {
    margin-left: 0px;
  }

  #content h1 {
    font-size: 30px;
  }

  .highlight {
    margin: 10px 0;
  }

  .posts_listing {
    margin: 0 0 50px;
  }

  .posts_listing li {
    margin: 0 0 25px 15px;
  }

  .posts_listing li a:hover,#nav a:hover {
    text-decoration: underline;
  }

  #nav {
    text-align: center;
    position: static;
    margin-top: 60px;
  }

  #nav ul {
    display: table;
    margin: 8px auto 0 auto;
  }

  #nav li {
    list-style-type: none;
    display: table-cell;
    font-size: 15px;
    padding: 0 20px;
  }

  #links {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }

  #links :nth-child(1) {
    margin-right: 0.5em;;
  }

  #links :nth-child(2) {
    margin-left: 0.5em;;
  }

  #not-found {
    text-align: center;
  }

  #not-found a {
    font-family: 'Playfair Display', serif;
    font-size: 200px;
    text-decoration: none;
    display: inline-block;
    padding-top: 225px;
  }

  @media (max-width: 750px) {
    body {
      padding-left: 20px;
      padding-right: 20px;
    }

    #nav h1 a {
      font-size: 28px;
    }

    #nav li {
      font-size: 13px;
      padding: 0 15px;
    }

    #content {
      margin-top: 0;
      padding-top: 50px;
      font-size: 14px;
    }

    #content h1 {
      font-size: 25px;
    }

    #content h2 {
      font-size: 22px;
    }

    .posts_listing li div {
      font-size: 12px;
    }
  }

  @media (max-width: 400px) {
    body {
      padding-left: 20px;
      padding-right: 20px;
    }

    #nav h1 a {
      font-size: 22px;
    }

    #nav li {
      font-size: 12px;
      padding: 0 10px;
    }

    #content {
      margin-top: 0;
      padding-top: 20px;
      font-size: 12px;
    }

    #content h1 {
      font-size: 20px;
    }

    #content h2 {
      font-size: 18px;
    }

    .posts_listing li div{
      font-size: 12px;
    }
  }

  @media {
    *, #nav h1 a {
      color: #0F0C0C;
    }

    body {
      background: #FFFFFF;
    }

    pre, code {
      background-color: #F1F1F1;
    }

    #sub-header, .date {
      color: #BD2C00;
	  font-weight: 500;
    }

    hr {
      background: #EBEBEB;
    }
  }
 
</style>
